<script setup>
import {ref} from 'vue';
import axios from "axios";
import Layout from "@/views/layout/Layout.vue";
</script>

<template>
  <!-- html -->
  <Layout/>
</template>

<style scoped>

</style>
