<script lang="ts" setup>
import { reactive, toRefs } from 'vue'

const state = reactive({
  circleUrl:
      'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png',
  squareUrl:
      'https://cube.elemecdn.com/9/c2/f0ee8a3c7c9638a54940382568c9dpng.png',
  sizeList: ['small', '', 'large'] as const,
})

const { circleUrl, squareUrl, sizeList } = toRefs(state)
</script>

<template>
<el-dropdown>
<span class="el-dropdown-link">
      <el-avatar shape="circle" :size="40" :src="squareUrl" />
      &nbsp;&nbsp;超哥&nbsp;<el-icon class="el-icon--right"><arrow-down /></el-icon>
    </span>

<template #dropdown>
  <el-dropdown-menu>
    <el-dropdown-item>
      <router-link :to="{name:'个人中心'}">个人中心</router-link>
    </el-dropdown-item>
    <el-dropdown-item >安全退出</el-dropdown-item>
  </el-dropdown-menu>
</template>
</el-dropdown>

</template>

<style lang="scss" scoped>
.el-dropdown-link {
  cursor: pointer;
  color: var(--el-color-primary);
  display: flex;
  align-items: center;
}
</style>-el-border-color);
