<script setup>
import {getAllTables} from '@/js/generator/generator.js';
import {ref} from 'vue';
//导入axios npm install axios
import axios from "axios";
import {
  Edit,
  Search,
} from '@element-plus/icons-vue'
import {ElTable} from 'element-plus'
import { reactive } from 'vue'

const tableList = ref([]);
//获取所有表信息数据
const getAllTable = async function () {
  let data = await getAllTables();
  tableList.value = data.data;
}

getAllTable();
const total =ref(20)
const tableData = []


const formInline = reactive({
  user: '',
  region: '',
  date: '',
})

const onSubmit = () => {
  console.log('submit!')
}
</script>
<template>
  <el-card class="box-card">
    <div class="card-header">
      <span>数据库表管理</span>
      <el-button class="button" type="success" round>代码生成</el-button>
    </div>
    <div style="margin-top: 20px">
      <hr>
    </div>
    <el-form :inline="true" :model="formInline" class="demo-form-inline">
      <el-form-item label="表名">
        <el-select
            v-model="formInline.region"
            placeholder="请选择表名"
            clearable
        >
          <el-option label="Zone one" value="shanghai" />
          <el-option label="Zone two" value="beijing" />
        </el-select>
      </el-form-item>
      <el-form-item label="表名注释">
        <el-input v-model="formInline.user" placeholder="请输入表名注释" clearable />
      </el-form-item>

      <el-form-item label="表创建时间开始">
        <el-date-picker
            v-model="formInline.date"
            type="date"
            placeholder="Pick a date"
            clearable
        />
      </el-form-item>
      <el-form-item label="表创建时间结束">
        <el-date-picker
            v-model="formInline.date"
            type="date"
            placeholder="Pick a date"
            clearable
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" round>查询</el-button>
        <el-button type="default" round>重置</el-button>
      </el-form-item>
    </el-form>
    <el-table
        ref="multipleTableRef"
        :data="tableData"
        style="width: 100%"
        @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" />
      <el-table-column property="tableName" label="表名" width="120" />
      <el-table-column property="tableComment" label="表名注释" width="120" />
      <el-table-column property="engine" label="表数据引擎" show-overflow-tooltip />
      <el-table-column property="tableCollation" label="表字符集" show-overflow-tooltip />
      <el-table-column property="tableRows" label="表中数据条数" show-overflow-tooltip />
      <el-table-column property="createTime" label="表创建时间" show-overflow-tooltip />
    </el-table>
    <div class="demo-pagination-block">
      <el-pagination
          class="el-p"
          v-model:current-page="currentPage4"
          v-model:page-size="pageSize4"
          :page-sizes="[5, 10, 20, 50, 100]"
          :small="small"
          :disabled="disabled"
          :background="background"
          layout="jumper, total, sizes, prev, pager, next"
          :total="total"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
      />
    </div>
  </el-card>
</template>
<style>
  .el-p{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  .demo-form-inline .el-input {
    --el-input-width: 220px;
  }

  .demo-form-inline .el-select {
    --el-select-width: 220px;
  }
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }
</style>