<script setup>
import Menu from "@/views/layout/menu/Menu.vue";
import Header from "@/views/layout/header/Header.vue";
import Footer from "@/views/layout/footer/Footer.vue";
import Tabs from "@/views/layout/tabs/Tabs.vue";
</script>

<template>
  <div class="app_container">
    <div class="common-layout">
      <el-container>
        <el-aside width="200px" class="aside"><Menu/></el-aside>
        <el-container>
          <el-header class="header"><Header/></el-header>
          <el-main class="main"><Tabs/></el-main>
          <el-footer class="footer"><Footer/></el-footer>
        </el-container>
      </el-container>
    </div>
  </div>
</template>

<style lang="scss" scoped>

/* 手动配置全局样式 */
html,
body,
.app_container,
.el-container{
  padding: 0;
  margin: 0;
  height: 100vh;
}
.app-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.aside{
  background-color: #2d3a4b;
  height: 100%;
}

.header{
  padding-left: 0px;
  padding-right: 0px;
}
.main{
  height: 100%;
}

</style>